<section class="archive">

    <!-- <div>共计<%- site.posts.length %>篇文章</div>
    <ul class="post-archive">
    <% page.posts.each(function (post) { %>
        <li class="post-item">
            <span class="post-date"><%= date(post.date, "YYYY-MM-DD") %></span>
            <a class="post-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
        </li>
    <% }) %>
    </ul> -->
    <div>
        archive
    </div>
</section>