<%- partial('_partial/postTitle') %>
<article class="post">
    <div class="post-box">
        <!-- 文章内容 -->
        <div class="post-info">
            <span class="post-content"><%- page.content %></span>
        </div>
    </div>


</article>