
.post {
    background-color: #fff;
    padding: 20px 45px 20px 45px;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0 10px 13px rgba(31, 45, 61, 0.1), 0 0 1px rgba(31, 45, 61, 0.1);
}

.post-box {
    .post-content {
        // }
        code {
            border-radius: 3px;
            // box-shadow: 0px 0px 5px #999;
            // background-color: red
            font-size: 0.8rem;
            font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
        }

        // p,h1,h2,h3,h4,h5,h6,tr,td{
        // code{
        // // width: auto
        // // display: inline
        // padding: 5px
        // box-shadow: none

        // background-color: rgb(242, 242, 242)
        // color: #e83e8c
        // }
        // }
        img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
            box-shadow: 0px 0px 8px #999;
            margin: 0 auto;
            display: block;
        }

        ul {
            li {
                list-style-type: disc;
                margin-left: 25px;
                margin-top: 10px;
            }
        }

        ol {
            li {
                list-style-type: decimal;
                margin-left: 25px;
                margin-top: 10px;
            }
        }

        table {
            width: 100%;
            border: 0;
            margin: 20px 0 50px 0;
            border-collapse: collapse;
            border-spacing: 0;
            line-height: 35px;
            border-radius: 8px;
            box-shadow: 0px 0px 5px #999;

            th {
                background: #73b1e0;
                font-weight: 800;
                font-size: 18px;
                text-align: left;
                line-height: 35px;
                color: #FFF;
            }

            tr:nth-child(odd) {
                background: #F4F4F4;
            }

            tr:hover, td:hover {
                background: #badbf5;
                color: #FFF;
            }

            td, th {
                padding: 5px 20px 5px 20px;
            }

            tr:first-child, th:first-child {
                border-top-left-radius: 3px;
            }

            tr:first-child, th:last-child {
                border-top-right-radius: 3px;
            }

            tr:last-child, td:first-child {
                border-bottom-left-radius: 3px;
            }

            tr:last-child, td:last-child {
                border-bottom-right-radius: 3px;
            }
        }

        blockquote {
            border-left: 0.4rem solid rgba(5, 166, 249, 0.1);
            // background-color: rgba(5, 166, 249, 0.1);
            // color: #0000cc;
            // padding-left: 1em;
            // padding-top: 0;
            padding: 2px 0 2px 10px;
            margin: 0;
            border-radius: 3px;
            color: #718096;
        }
    }
}

.highlight {
    padding: 5px;
    // box-shadow: none; !important
    background-color: rgb(242, 242, 242);
    color: #e83e8c;
}