body {
    background-color: #F2F2F2;
    font-size: 1.05rem;
    line-height: 1.5;
    font-family: Microsoft YaHei, SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    color: #3c4858;
}

.container{
    display: flex
    // background-color: red
    justify-content: space-between
    margin: 0 20px 0 20px
    .body{
        width: 1220px
    }
}


// partial样式文件
@import '_partial/archive.styl';
@import '_partial/footer.styl';
@import '_partial/pageinator.styl';
@import '_partial/menu.styl';
@import '_partial/cateNav.styl';
@import '_partial/postTitle.styl';

@import 'reset.styl';
@import 'index.styl';
@import 'post.styl';
