body {
    background-color: #F2F2F2;
    font-size: 1.05rem;
    line-height: 1.5;
    font-family: Microsoft YaHei, SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    color: #3c4858;
}

// 占位
.block {
    // background-color: red;
    height: 800px;
    width: 100%;
    position: relative;

    span {
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        font-family: 'Comic Sans MS', cursive, LiSu, sans-serif;
        font-size: 6rem;
        color: rgba(255,255,255,.8)
        // display inline
    }
}

// 背景图片
.background-img img {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: -99;
    background-repeat: no-repeat;
}

.container {
    max-width: 1270px;
    margin: 0 auto;
    // background-color: #bfa
    position relative
}

@import '_partial/header';
@import '_partial/archive.styl';
@import 'index';
@import 'reset.styl';
@import '_partial/footer.styl';
@import '_partial/pageinator.styl';
@import '_partial/menu.styl';
@import 'post.styl';
