<div class="banner">
  <div class="banner_swiper">
    <ul class="banner_list">
      <% theme.banner.map(function (banner) { %>
      <li class="item">
        <img src="<%- banner %>" alt="">
      </li>
      <%})%>
    </ul>
    <div class="banner_btn">
      <div class="banner_btn_up">
        <i class="fa fa-angle-up"></i>
      </div>
      <div class="banner_btn_down">
        <i class="fa fa-angle-down"></i>
      </div>
    </div>
  </div>
</div>
<!-- <script>
  
</script> -->