<div class="cate_nav">
  <% site.categories.each(function (cate) { %>
  <div class="cate_nav_item">
    <a href="<%- url_for('categories'+'/'+cate.name)%>"><%= cate.name %></a>
  </div>
  <% }) %>
</div>