<footer>
    <div>
        <p><a href="https://hexo.io/" target="_blank" rel="nofollow">&nbsp;&nbsp;hexo</a>&nbsp;&&nbsp;<a href="/"
                target="_blank">Moye</a></p>
        <p>
            <%- theme.beian %>
        </p>
    </div>
</footer>