<header>
  <div class="header_title">
    <a href="<%= url_for() %>"><%= config.title %></a>
  </div>
  <div class="header_btn">
    <i class="fa fa-search search_open_btn"></i>
    <%- partial('_partial/search') %>
  </div>
  </div>
</header>

<script>
  let headerBtn = document.querySelector('.header_btn')
  let headerTitle = document.querySelector('.header_title')

  function headerStyleChange(header) {
    if (window.pageYOffset >= 100) {
      header.classList.add('scroll')
    }else{
      header.classList.remove('scroll')
    } 
  }
  window.onscroll = function () {
    headerStyleChange(headerBtn)
    headerStyleChange(headerTitle)
  }
</script>