<div class="search">
  <input type="text" >
  <label data-error="<%= __('search.status.error') %>" data-success="<%= __('search.status.success') %>"
         for="local-search-input"><%= __('search.keyword') %></label>
</div>