.cate_nav {
  display: flex;
  // flex-wrap: nowrap;
    white-space nowrap

  .cate_nav_item {
    display inline
    margin: 20px
    width: 500px;
    height: 100px;
    background-color: #bfa;
  }
}