// height: 60px
footer {
    width: 100vw;
    background: linear-gradient(#334153, #334153 1px, #637893 0, #637893 2px, #465568 0, #334154 20px, #243243 0, #334154);
    color: #738192;
    box-shadow: 0 0 3px #000;
    position: relative;
    bottom: 0;
    font-size: 13px;

    p {
        display: flex;
        justify-content: center;
        // background-color: #bfa
        margin: 0;
    }

    a {
        color: #337AB7;
    }
}