.index-menu {
  @media (max-width: 1130px) {
    height: 0px;
    overflow: hidden;
    background-color: #fff;
    z-index: 999;
    left: 0
    padding: 0px 10px 0 10px
  }

  position: fixed;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  width: 230px;
  transition: all 0.3s;
  padding-top: 5px
  margin-top: 50px

  // 头像标题
  .menu_title {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 24px;
    // background-color: red
    // margin-top: -40px;
    // position absolute
  }

  // 导航条
  .menu-box {
    width: 100%;
    margin-top: 10px;

    .menu-item {
      // background-color: red
      cursor: pointer;

      // align-items: center
      // display: flex
      // ;
      &:hover {
        i, span {
          color: rgb(50, 182, 255);
        }
      }

      i, span {
        color: rgb(101, 116, 135);
        font-size: 14px;
      }

      a {
        display: block;
        // width: 180px;
        // background-color: #bfa;
        height: 100%;
        margin-top: 5px;
        padding: 8px 0 10px 10px;

        &.active {
          background-color: rgb(50, 182, 255);
          border-radius: 20px;

          i, span {
            color: #fff;
          }
        }
      }
    }
  }

  // 标签云
  .tag {
    width: 100%;
    margin-top: 20px;

    .tag-title {
      font-size: 14px;
      font-weight: 700;
      color: rgb(153, 169, 191);
    }

    .tag-content {
      margin-top: 5px;

      a {
        background-color: #fff;
        font-size: 12px;
        display: inline-block;
        margin: 2px;
        padding: 5px;
        transition: all 0.3s ease-out;
        border-radius: 5px;
        color: rgb(115, 129, 146);
        box-shadow: 0 5px 8px rgba(31, 45, 61, 0.1);

        // margin: 5px
        &:hover {
          // border-radius: 0.5rem;
          color: rgb(32, 160, 255);
          // box-shadow: 0 0 6px #999;
          // transform: translateY(-1px);
        }
      }
    }
  }

  // 统计
  .count {
    margin-top: 30px;
    width: 100%;

    // height: 300px;
    .count-title {
      font-size: 14px;
      font-weight: 700;
      color: rgb(153, 169, 191);
    }

    .count-content {
      margin-top: 5px;

      li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 7px;
        height: 30px;
        line-height: 30px;

        // background-color: #bfa;
        i {
          font-size: 14px;
          align-items: center;
          line-height: 30px;
          color: rgb(115, 129, 146);
        }

        span {
          // border: 1px solid rgb(115, 129, 146);
          // border-radius: 0.5rem;
          color: rgb(115, 129, 146);
          // color: rgb(32, 160, 255);
          font-size: 14px;
        }
      }
    }
  }

  // 文章目录
  .toc {
    .toc-title {
      margin-top: 20px;
      font-size: 14px;
      font-weight: 700;
      color: rgb(153, 169, 191);
    }

    .toc-content {
      margin-top: 5px;
      font-size: 14px;

      a, span {
        color: #738192;

        &:hover {
          color: #20a0ff;
        }
      }

      .post-toc-child {
        margin-left: 10px;
      }
    }
  }
}