.index-menu {
    // background-color: red;
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;

    .user {
        position: relative;
        width: 100%;
        height: 360px;
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: 1rem;
        margin-top: 18px;
        overflow: hidden;

        .user-top {
            width: 100%;
            height: 120px;

            // border-bottom: 1px solid rgb(115, 129, 146);
            img {
                height: 100%;
                width: 100%;
            }
        }

        .user-avatar {
            img {
                left: 0;
                right: 0;
                margin: 0 auto;
                top: 80px;
                position: absolute;
                border-radius: 50%;
                height: 100px;
                display: block;
                border: 3px solid #fff;
            }
        }

        .user-name {
            top: 190px;
            position: absolute;
            justify-content: center;
            // background-color: #bfa;
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;
            font-size: 1.9rem;
            font-family: 'Comic Sans MS', cursive, LiSu, sans-serif;
        }

        .user-info {
            margin: 0 auto;
            left: 0;
            right: 0;
            position: absolute;
            bottom: 40px;
            height: 80px;
            width: 300px;
            // background-color: red
            display: flex;
            justify-content: space-around;

            .user-info-article, .user-info-cate, .user-info-tag {
                justify-content: center;
                display: flex;
                flex-direction: column;
                // background-color: blue
                font-size: 1.3rem;

                span {
                    text-align: center;
                }
            }

            .user-info-num {
                color: rgb(32, 160, 255);
            }
        }
    }

    .contact {
        width: 100%;
        height: 130px;
        background-color: rgba(255, 255, 255, 0.85);
        // background-color: blue;
        border-radius: 1rem;
        margin-top: 20px;
        position: relative;
        overflow: hidden;

        &:hover .contact-line {
            width: 100%;
        }

        .contact-title {
            width: 80%;
            height: 50px;
            position: absolute;
            top: 0;
            right: 0px;
            padding-right: 20px;
            text-align: right;
            line-height: 50px;
            // background-color: #bfa;
            font-size: 1.5rem;
            font-family: 'Comic Sans MS', cursive, LiSu, sans-serif;
        }

        .contact-line {
            width: 100px;
            height: 2px;
            background-color: #20a0ff;
            position: absolute;
            top: 50px;
            right: 0;
            transition: all 0.3s;
        }

        .contact-form {
            margin: 60px auto;
            // background-color: red;
            width: 300px;
            top: 60px;
            left: 10px;
            display: flex;
            justify-content: space-around;

            li {
                height: 40px;
                line-height: 40px;
                text-align: center;

                // background-color: blue
                // margin-bottom: 10px;
                // font-size: 1.2rem;
                // border-bottom: 1px solid rgb(115, 129, 146);
                a {
                    // background-color: red
                    display: block;
                    // margin: 10px
                    transition: all 0.3s ease-out;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    color: rgb(115, 129, 146);

                    &:hover {
                        border-radius: 0.8rem;
                        color: rgb(32, 160, 255);
                        box-shadow: 0 0 6px #999;
                        transform: translateY(-3px);
                    }

                    i {
                        text-align: center;
                        vertical-align: middle;
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }

    .tag {
        width: 100%;
        // height: 200px;
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: 1rem;
        margin-top: 20px;
        position: relative;
        overflow: hidden;

        &:hover .tag-line {
            width: 100%;
        }

        .tag-title {
            width: 80%;
            height: 50px;
            position: absolute;
            top: 0;
            right: 0px;
            padding-right: 20px;
            text-align: right;
            line-height: 50px;
            // background-color: #bfa;
            font-size: 1.5rem;
            font-family: 'Comic Sans MS', cursive, LiSu, sans-serif;
        }

        .tag-line {
            width: 100px;
            height: 2px;
            background-color: #20a0ff;
            position: absolute;
            top: 50px;
            right: 0;
            transition: all 0.3s;
        }

        .tag-content {
            margin-top: 60px;
            // position: absolute;
            // top: 60px;
            width: 280px;
            // background-color: red;
            margin: 60px auto 20px auto;
            left: 0;
            right: 0;

            a {
                // background-color: #bfa;
                display: inline-block;
                margin: 5px;
                padding: 2px;
                transition: all 0.3s ease-out;
                // border: 1px solid rgb(115, 129, 146);
                border-radius: 0.5rem;
                color: rgb(115, 129, 146);

                // margin: 5px
                &:hover {
                    border-radius: 0.5rem;
                    color: rgb(32, 160, 255);
                    box-shadow: 0 0 6px #999;
                    transform: translateY(-3px);
                }
            }
        }
    }

    .count {
        width: 100%;
        // height: 300px;
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: 1rem;
        margin-top: 20px;
        position: relative;

        &:hover .count-line {
            width: 100%;
        }

        .count-title {
            width: 80%;
            height: 50px;
            position: absolute;
            top: 0;
            right: 0px;
            padding-right: 20px;
            text-align: right;
            line-height: 50px;
            // background-color: #bfa;
            font-size: 1.5rem;
            font-family: 'Comic Sans MS', cursive, LiSu, sans-serif;
        }

        .count-line {
            width: 100px;
            height: 2px;
            background-color: #20a0ff;
            position: absolute;
            top: 50px;
            right: 0;
            transition: all 0.3s;
        }

        .count-content {
            margin-top: 60px;
            width: 90%;
            margin: 60px auto 20px auto;
            font-size: 1rem;

            li {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                height: 30px;
                line-height: 30px;
                // background-color: #bfa;

                i {
                    font-size: .9rem;
                    align-items: center;
                    line-height: 30px;
                    color: rgb(115, 129, 146)
                }

                span {
                    // border: 1px solid rgb(115, 129, 146);
                    // border-radius: 0.5rem;
                    color: rgb(115, 129, 146)
                    // color: rgb(32, 160, 255);
                    font-size: .9rem;
                }
            }
        }
    }
}