.paginator {
    font-size: 14px;
    display: flex;
    text-align: center
    justify-content: center;
    margin: 10px 0 30px 0


    i, span, a {
        // text-align: center;
        display: block;
        line-height: 30px
        height: 30px;
        width: 30px;
        // background-color: #bfa
        transition: 0.3s;
        color: #3c4858;
        border-radius: 4px;
        // background-color: rgba(255, 255, 255,.9);
    }

    i:hover, .current:hover, a:hover {
        background-color: #afadad;
    }

    .current {
        background-color: #afadad;
    }
}
