// .navbar {
//     width: 0
//     bottom: 0;
//     height: 837px;
//     background-color: rgba(0,0,0,.4);
//     position: fixed;
//     // display: flex;
//     // flex-direction: column;
//     z-index: 9999;
//     transition: 0.3s
//     overflow: hidden

//     .menu {
//         display: flex;
//         flex-direction: column;
//         // top: 100px;
//         padding: 0;
//         margin: 0;

//         .menu-item {
//             display: flex;
//             justify-content: space-around;
//         }

//         .menu-item:hover {
//             background-color: #bfa;
//         }

//         .menu-item-link {
//             color: #AAA;

//             &:hover {
//                 color: #368CCB;
//             }
//         }

//         // 分类栏初始状态
//         .cate-menu-item {
//             justify-content: space-around;
//             display: flex;
//         }

//         .cate-menu {
//             height: 0px;
//             overflow: hidden;
//             transition: 0.3s;
//             display: flex;
//             flex-direction: column;
//         }

//         // 分类栏鼠标移入状态
//         &:hover .cate-menu {
//             // 一个分类宽度为30.5px，需要手动乘以分类个数
//             height: 30.5 * 6 px;
//         }

//         &:hover .cate-menu-item {
//             justify-content: space-around;
//             display: flex;
//         }

//         &:hover .cate-menu-item:hover {
//             background-color: #bfa;
//         }
//     }
// }


